  /* Media query for mobile screens */
  @media (max-width: 768px) {

    .provinceDetailDiv {
      margin-left: -30px !important;
      width: 96% !important; /* Ensure the container takes full width on mobile */

      font-size: 13px !important;
    }
  }